<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>System Package Viewer</title>
</head>
<body>
<header>
    <h1>System Package Viewer</h1>
</header>
<main>
    {% block content %}{% endblock %}
</main>
</body>
</html>