{% extends "base.html" %}

{% block content %}
    <h2>Available Packages</h2>
    <ul>
        {% for package in packages %}
            <li>
                <a href="{{ url_for('frontend.package_details', package_name=package.name) }}">{{ package.name }}
                    - {{ package.version }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}