{% extends "base.html" %}

{% block content %}
    {% if package %}
        <h2>Package Details: {{ package.name }}</h2>
        <p><strong>Description:</strong> {{ package.description }}</p>
        <p><strong>Dependencies:</strong></p>
        <ul>
            {% for alt_group in package.dependencies %}
                <li>
                    {% for dep in alt_group %}
                        {{ dep.name }}{{ dep.version }}{% if dep.url %} (
                        <a href="{{ url_for('frontend.package_details', package_name=dep.name) }}">Details</a>)
                    {% endif %}
                        {% if not loop.last %}|{% endif %}
                    {% endfor %}
                </li>
            {% endfor %}
        </ul>
        <p><strong>Reverse Dependencies:</strong></p>
        <ul>
            {% for rev_dep in package.reverse_dependencies %}
                <li>
                    <a href="{{ url_for('frontend.package_details', package_name=rev_dep.name) }}">{{ rev_dep.name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <h2>Package not found</h2>
        <p>The package you are looking for does not exist.</p>
    {% endif %}
{% endblock %}